#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}

.main-section {
  position: relative;
  left: 200px;
}

@media (min-width: 769px) and (max-width: 1199px) {
  #navbar {
    position: absolute;
    top: 0;
    left: 0;
  }
}